*{
  box-sizing: border-box;
}
/*Set background color, margin and font. Overflowing items scroll*/
body {
  background-color: #9FE3E2;
  margin: 0;
  font-family: 'Montserrat', sans-serif,'';
  overflow-y:scroll;
}

/**/
  .fullscreen-Image{
   top:0;
   left:0;
    width:100vp;
    margin:0;
    padding:0;
    
    height: 100vp;
    z-index:1 ;
    opacity: 0.3;

  }
  .content{
    left:0;
    top:0;
    
    z-index:2 ;
  }

  
h1{
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  border: 2px white;
  padding: 25px;
}
h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 12px;
}

/* Product description is in white and centralised in the block */
.productDescription {
  text-align: center;
  color: white;
}

/* Logo floats on the left */
.logo {
  text-align: left;
  float: left;
}

/* Background colour for navigation */
.topNav {
  width: 100%;
  background-color: #9FE3E2;
  overflow: hidden;
}

/* Styling links in navigation */
.topNav a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 19px;
}

/* Change link colour when hovering over it */
.topNav a:hover {
  background-color: #63C2BE;
  color: white;
}

/* Highlight current page */
.topNav a.active {
  background-color: #63C2BE;
}

/* Hide icon that should be displayed on small screens only */
.topNav .icon {
  display: none;
}

/* If screen is less than 600px only show icon */
@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }
}

/* If user clicks icon, they can see all other links */
@media screen and (max-width: 600px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

nav {float: right;}

 .sec{
background-color: red;
float:left;
width: 50%;
height: 45vh;
display: flex;
flex-direction: column;

}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sec1{
 
  background-color:yellow;
float:right;

  width: 50%;
  height: 100%;
  
}
.content{
  position: absolute;
  width:100%;
  bottom:0%;

}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#about{
 display: flex;
 align-items: center;
justify-content: center;
margin-top: 5%;
font-family: "Montserrat", "sans-serif";
font-size: 20%;
font-size: 70px;
color: #d61212;
text-shadow: 3px 5px 10px #000;


}
a{
text-decoration: none;

}
.navBar li{
  list-style-type: none;
}
.header{
background-color: lightskyblue;
  position:relative; 
  text-align: center;
  color: white;
  width: 75%;
  border-radius: 25px;

  
}

.players{
  
  width:50%;
 position:absolute;
 bottom:27vh;
 
  -webkit-animation-name: move; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate-reverse;


  animation-name:move;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
transition: 0.3s;
}
.organizers{
  right:0vw;
  bottom: -90vh;
  width:50%;
  padding-left:50px ;
  position:absolute;
   -webkit-animation-name: move2; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
   -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
   -webkit-animation-direction: alternate-reverse;
 
 
   animation-name:move2;
   animation-duration: 3s;
   animation-iteration-count: 1;
   animation-direction: alternate-reverse;
 transition: 0.3s;

}
.txt ul {
color:#000;
list-style-type: circle;
background-color:white;
position: relative;
text-align: left;
width: 75%;
padding:10px 20px;
  border-radius: 25px;

}
@-webkit-keyframes move {
 0%{
  opacity: 1;
  bottom:27vh;



 }
 100%{
bottom:0vh;
opacity:0.1;
 }
}
@keyframes move {
   0%{bottom: 27vh;opacity: 1;}
 100%{bottom:0vh;opacity: 0.1;}
}
@-webkit-keyframes move2 {
  0%{
   opacity: 1;
   bottom:-90vh;
 
 
 
  }
  100%{
 bottom:25vh;
 opacity:0.1;
  }
 }
 @keyframes mov2 {
    0%{bottom: -90vh;opacity: 1;}
  100%{bottom:25vh;opacity: 0.1;}
 }
 #imgPlayer{
width:100vw ;
 }
 #imgOrganizer{
width: 100vw;

 }
 #section1{
  scroll-snap-align: center;
  height:100vh;
width: 100%;

 }
 #section2{
  scroll-snap-align: center;
  height:100vh;
  width: 100%;

 }
 .container{
   
   overflow-y:scroll;
  scroll-behavior: smooth;
  

 }
