body {background-color: #9FE3E2;
  font-family: 'Montserrat', sans-serif;}
h1{
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  border: 2px white;
  padding: 25px;
}
.navBar{overflow:hidden;}

.navBar a{float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;

}

.topNav a{float: right;}

 .sec{
background-color: red;
float:left;
width: 50%;
height: 45vh;
display: flex;
flex-direction: column;

 
}
.sec1{
 
  background-color:yellow;
float:right;

  width: 50%;
  height: 100%;
  
}
.content{
  position: absolute;
  width:100%;
  bottom:0%;

}
#about{
 display: flex;
 align-items: center;
justify-content: center;
margin-top: 5%;
font-family: "Montserrat", "sans-serif";
font-size: 20%;
font-size: 70px;
color: #d61212;
text-shadow: 3px 5px 10px #000;


}
  
